[submodule "dashboard_examples/plotly-dash/dash-sample-apps"]
	path = dashboard_examples/plotly-dash/dash-sample-apps
	url = https://github.com/plotly/dash-sample-apps
[submodule "dashboard_examples/streamlit/example-app-image-comparison"]
	path = dashboard_examples/streamlit/example-app-image-comparison
	url = git@github.com:streamlit/example-app-image-comparison.git
[submodule "dashboard_examples/voila/Conformal-Maps"]
	path = dashboard_examples/voila/Conformal-Maps
	url = git@github.com:zolabar/Conformal-Maps.git
